    <table cellspacing="0" class="tableList"> 
        <thead>
            <tr>
                <th>Nro.</th>
                <th>{{ pager.sortable('Nombre', 'p.proceso')|raw }}</th>
                <th>{{ pager.sortable('Nombre Abrev.', 'p.proceso_abrev')|raw }}</th>
                <th>{{ pager.sortable('Nro. Consecutivo', 'p.nro_consecutivo_proceso')|raw }}</th>
                <th class="tblopc">Opc.</th>
            </tr>
        </thead>

        {# table body #}
        <tbody>
        {% for proceso in pager %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td>{{ proceso.idProceso }}</td>
                <td>{{ proceso.proceso }}</td>
                <td>{{ proceso.procesoAbrev }}</td>
                <td>{{ proceso.nroConsecutivoProceso }}</td>
                <td class="tblopc">
                    {% if proceso.proceso not in ['Valoración de Meritos', 'Potestad Investigativa', 'Determinación de Responsabilidades', 'Archivo'] %}
                    <a title="Eliminar Proceso" class="actionButtonDelete href="{{ path('ExpProcesosDelete', { 'id_proceso': proceso.idProceso }) }}" ></a>
                    {% endif %}
                    <a title="Editar Proceso" class="actionButtonEdit" href="{{ path('ExpProcesosEdit', { 'id_proceso': proceso.idProceso }) }}" ></a>
                </td>
            </tr>
        {% else %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td colspan="5">
                    <div class="alertDialogBox">
                        <p>
                            No se han encontrado registros relacionados a los par&aacute;metros de busqueda.
                        </p>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {# table foot #}

        <tfoot>
            <tr>
                <td colspan="1"><div class="ui-pg-div"><span class="ui-icon ui-icon-refresh" onclick="reloadGrid_procesos('{{ path('ExpProcesosAjaxList') }}');" title="Recargar la Lista de Procesos" style="cursor: pointer;"></span></div></td>
                <td colspan="3"></td>
                <td colspan="1"><div style="text-align: right; padding-right: 3px;"><b>{{ pager.count }}</b> de <b>{{ pager.TotalItemCount }}</b> Registros </td>
            </tr>
        </tfoot>
    </table>

    <form name="form_list_procesos" id="form_list_procesos">
        <input type="hidden" value="{{rows}}" id="rows" name="rows" />
        <input type="hidden" value="{{searchField}}" id="searchFieldf" name="searchFieldf" />
        <input type="hidden" value="{{searchOper}}" id="searchOperf" name="searchOperf" />
        <input type="hidden" value="{{searchString}}" id="searchStringf" name="searchStringf" />
        <input type="hidden" value="{{sort}}" id="grid_sort" name="grid_sort" />
        <input type="hidden" value="{{direction}}" id="grid_direction" name="grid_direction" />
        <input type="hidden" value="{{is_search}}" id="is_search" name="is_search" />
    </form>

    {# display navigation #}
    <div class="navigation">
        {{ pager.render()|raw }}
    </div>