{% extends '::base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/expidian/js/sinner_grid/sinner_grid.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/expidian/js/controladores/Expedientes/expedientes.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            
            listar_expedientes("{{ path('ExpExpedientesAjaxList') }}");
                                    
            $("#form_busqueda_expediente").submit(function(event){
                event.preventDefault();
                busqueda_expedientes("{{ path('ExpExpedientesAjaxList') }}");
            });
            
            $( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 300,
			width: 350,
			modal: true,
			buttons: {
				"Agregar Interesado": function() {
					var bValid = true;
                                        var ci = $("#ci").val();
                                        var nombre = $("#nombre").val();
                                        var apellido = $("#apellido").val();
                                        var nac = $("#nacionalidad").val();
                                        
					if ( bValid ) {
						$.ajax({
                                                    type: "POST",
                                                    dataType: "html",
                                                    data: datos,
                                                    url: "{{ path("") }}",
                                                    success: function(datos){
                                                            $("#"+div_string).html(datos).fadeIn("slow");
                                                    }
                                                }); 
						$( this ).dialog( "close" );
					}
				},
				"Cancelar": function() {
					$( this ).dialog( "close" );
				}
			},
			"Cerrar": function() {
				allFields.val( "" ).removeClass( "ui-state-error" );
			}
		});
            
        });
    </script>

{% endblock javascripts %}
    
{% block maincontent %}
    
    <div class="{{ class }}">
        <p>
            {{ msj | raw }}
        </p>
    </div>

    <article class="module width_full">
        <header>
            <h3>
                <span>Confirmaci&oacute;n de Expediente</span>
            </h3>
        </header>
        <div class="module_content" id="div_lista_interesados" style="min-height: 412px;">
            <form name="form_list_expedientes" id="form_list_expedientes">
                <input type="hidden" value="{{rows}}" id="rows" name="rows" />
                <input type="hidden" value="{{searchField}}" id="searchFieldf" name="searchFieldf" />
                <input type="hidden" value="{{searchOper}}" id="searchOperf" name="searchOperf" />
                <input type="hidden" value="{{searchString}}" id="searchStringf" name="searchStringf" />
                <input type="hidden" value="{{sort}}" id="grid_sort" name="grid_sort" />
                <input type="hidden" value="{{direction}}" id="grid_direction" name="grid_direction" />
                <input type="hidden" value="{{is_search}}" id="is_search" name="is_search" />
            </form>
        </div>
    </article>
    
    <div id="dialog-form" title="Agregar Interesado">
        <form id="form_interesados" name="form_interesados">
            <fieldset>
                    <input type="hidden" name="idExpediente" id="idExpediente" value="" />
                    <label for="ci">C.I.</label>
                    <input type="text" name="ci" id="ci" value="" class="text ui-widget-content ui-corner-all" />
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="" class="text ui-widget-content ui-corner-all" />
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" value="" class="text ui-widget-content ui-corner-all" />
                    <label for="nacionalidad">Nacionalidad</label>
                    <select name="nacionalidad" id="nacionalidad" class="text ui-widget-content ui-corner-all">
                        <option value="V">Venezolano</option>
                        <option value="E">Extranjero</option>
                    </select>
            </fieldset>
	</form>
    </div>
    
{% endblock maincontent %}