    <table cellspacing="0" class="tableList"> 
        <thead>
            <tr>
                <th>Nro.</th>
                <th>{{ pager.sortable('Nombre', 'h.nombre')|raw }}</th>
                <th>{{ pager.sortable('Apellido', 'h.apellido')|raw }}</th>
                <th>{{ pager.sortable('Login', 'u.usuario')|raw }}</th>
                <th>{{ pager.sortable('Perfil', 'p.perfil')|raw }}</th>
                <th>{{ pager.sortable('Activo', 'u.esActivo')|raw }}</th>
                <th>Opc.</th>
            </tr>
        </thead>

        {# table body #}
        <tbody>
        {% for usuario in pager %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td>{{ usuario.idUsuario }}</td>
                <td>{{ usuario.persona.nombre }}</td>
                <td>{{ usuario.persona.apellido }}</td>
                <td>{{ usuario.usuario }}</td>
                <td>{{ usuario.perfil.perfil }}</td>
                <td>{{ usuario.esActivo }}</td>
                <td>
                    <a title="Editar Perfil de Usuario" class="actionButtonEdit" href="{{ path('ExpUsuariosEdit', { 'id_usuario': usuario.idUsuario }) }}" ></a>
                    <a title="Editar Perfil de Usuario" class="actionButtonDelete href="{{ path('ExpUsuariosDelete', { 'id_usuario': usuario.idUsuario }) }}" ></a>
                </td>
            </tr>
        {% else %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td colspan="7">
                    <div class="alertDialogBox">
                        <p>
                            No se han encontrado registros relacionados a los par&aacute;metros de busqueda.
                        </p>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {# table foot #}

        <tfoot>
            <tr>
                <td colspan="2"><div class="ui-pg-div"><span class="ui-icon ui-icon-refresh" onclick="listar_usuarios('{{ path('ExpAjaxUsuariosList') }}');" title="Recargar la Lista de Usuarios" style="cursor: pointer;"></span></div></td>
                <td colspan="3"></td>
                <td colspan="2"><div style="text-align: right; padding-right: 3px;"><b>{{ pager.count }}</b> de <b>{{ pager.TotalItemCount }}</b> Registros </td>
            </tr>
        </tfoot>
    </table>

    <form name="form_list_usuarios" id="form_list_usuarios">
        <input type="hidden" value="{{rows}}" id="rows" name="rows" />
        <input type="hidden" value="{{searchField}}" id="searchFieldf" name="searchFieldf" />
        <input type="hidden" value="{{searchOper}}" id="searchOperf" name="searchOperf" />
        <input type="hidden" value="{{searchString}}" id="searchStringf" name="searchStringf" />
        <input type="hidden" value="{{sort}}" id="grid_sort" name="grid_sort" />
        <input type="hidden" value="{{direction}}" id="grid_direction" name="grid_direction" />
        <input type="hidden" value="{{is_search}}" id="is_search" name="is_search" />
    </form>

    {# display navigation #}
    <div class="navigation">
        {{ pager.render()|raw }}
    </div>