{% if pageCount > 1 %}
<div class="paginationSector">
    {% if first is defined and current != first %}
        <span class="first">
            <a onClick="change_page('{{ path(route, query|merge({(pageParameterName): first})) }}');">◄◄</a>
        </span>
    {% else %}
        <span class="disabled">
            ◄◄
        </span>
    {% endif %}

    {% if previous is defined %}
        <span class="previous">
            <a onClick="change_page('{{ path(route, query|merge({(pageParameterName): previous})) }}');">◄</a>
        </span>
    {% else %}
        <span class="disabled">
            ◄
        </span>
    {% endif %}
        

    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="page">
                <a onClick="change_page('{{ path(route, query|merge({(pageParameterName): page})) }}');">{{ page }}</a>
            </span>
        {% else %}
            <span class="current">{{ page }}</span>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <span class="next">
            <a onClick="change_page('{{ path(route, query|merge({(pageParameterName): next})) }}');">►</a>
        </span>
    {% else %}
        <span class="disabled">
            ►
        </span>
    {% endif %}

    {% if last is defined and current != last %}
        <span class="last">
            <a onClick="change_page('{{ path(route, query|merge({(pageParameterName): last})) }}');">►►</a>
        </span>
    {% else %}
        <span class="disabled">
            ►►
        </span>
    {% endif %}
</div>
{% endif %}